<% @pkgs.each do |k,v| %>
<br>
<h1><%= k %></h1>
<br>
<div class="row" style= "background-color: grey;">
  <% v.each_with_index do |pkg, idx| %>
  <div class="col">
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Origin: <%= pkg['origin'] %></h5>
        <h6 class="card-subtitle"><span class="badge badge-info">Channel: <%= pkg['channel'] %></span></h6>
        <p class="card-text">
          Version: <%= [pkg['ident']['version'], pkg['ident']['release']].join('/') %>
          Updated: <%= Time.parse(pkg['created_at']).strftime('%d/%m/%Y %I:%M %p') %>
          Target: <%= pkg['target'] %>
        </p>
        <a href="<%= @bldr_url %>/#/pkgs/<%= pkg['ident_array'].join('/') %>" class="card-link btn btn-dark">View</a>
      </div>
    </div>
    <% if idx % 4 == 0 %>
     <br>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>
<meta http-equiv="refresh" content="<%= @refresh_interval_seconds %>" />
